.icon-48 {
  height: 48px;
}

.icon-64 {
  height: 64px;
}

.icon-32 {
  height: 32px;
}
.icon-24 {
  height: 24px;
}


.icon-256 {
  height: 256px;
}

.icon-128 {
  height: 128px;
}

.icon-72 {
  height: 72px;
}

