<template>
  <div>
    <footer class="width-ctrl">
      <div class="footer-column">
        <img
            src="../../public/icons/Artboard 2.svg"
            style="
            margin: 0;
            filter: grayscale(100%) contrast(50%) brightness(80%) invert(100%)
              brightness(160%);
          "
            class="footer-icon-256"
        />
        <p class="weathersound">
          WeatherCast
        </p>
      </div>
      <div class="footer-column name-column">
        <h2>Equipe</h2>

          <p class="contributor-name">ABDILLAHI Oumalkhaire</p>
          <p class="contributor-name">BAHNINI Otmane</p>
          <p class="contributor-name">DZOKEM FOSSO Romaric</p>
          <p class="contributor-name">HAMOUDA Ali</p>
          <p class="contributor-name">MANGA Adolphe</p>
          <p class="contributor-name">RAULT François</p>
          <p class="contributor-name">REZZOUG Zakaria</p>
          <p class="contributor-name">TANGUY Martin</p>
          <p class="contributor-name">ZACKO GBADOUBISSA Jocelyn</p>
        <div class="avatar-ctr">
          <img/>
          <img/>
          <img/>
          <img/>
          <img/>
          <img/>
          <img/>
          <img/>
          <img/>
        </div>
      </div>
      <div class="footer-column">
        <h2>à propos</h2>
        <p class="a-propos">L'application WeatherCast vous permet de consulter les meilleures prévisions météorologiques qui  vont jusqu’à 15 jours. Si vous aimez connaitre les données météorologiques d'une ville donnée ou en fonction de l'endroit exacte de votre localisation , elle saura vous donner tout ce qu’il vous faut. En plus de l'aspect visuel de l'application, WeatherCast fournit  des sons selon les previsions meterologiques. Avec Weathercast vos journées et vos voyages seront mieux planifiés.</p>

      </div>
      <div class="copyright-line">
        Made with love @IMT Atlantique MSICD 2021
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style>
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
  padding: 64px 64px 0;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  background-image: linear-gradient(
      60deg,
      var(--color-primary-0),
      var(--color-primary-3) 250%
  );
}

.footer-column {
  width: calc(33% - 8px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-column h2 {
  text-align: left;
  text-transform: capitalize;
  font-size: 32px;
}

.copyright-line {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
  width: 100%;
}

.avatar-ctr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.footer-icon-256{
  height: 256px;
  width: 256px;
}
.avatar-ctr img {
  background-color: black;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

footer .weathersound {
  font-size: 48px;
  margin-top: 0;
  margin-left: 24px;
}

@media screen and (max-width: 1500px) {
  footer {
    padding: 32px 32px 0;
  }

  .footer-icon-256 {
    height: 150px;
    width: 200px;
  }

  footer .weathersound {
    font-size: 32px;
  }
}

@media screen and (max-width: 1000px) {
  footer {
    padding: 32px 32px 0;
  }

  footer h2 {
    font-size: 18px;
  }

  .avatar-ctr {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .footer-icon-256 {
    height: 84px;
    width: 84px;
  }
  .name-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .name-column p {
    margin: 4px;
  }

  footer {
    flex-direction: column;
    align-items: stretch;
    padding: 16px 16px 0;
  }

  .footer-column {
    width: 100%;
    display: flex;
    align-items: center;
  }
}


</style>
