<template>
  <div id="app">
    <TopBar/>
    <Main/>
    <Footer/>
  </div>
</template>

<script>
import TopBar from './components/TopBar.vue'
import Main from './components/Main.vue'
import Footer from './components/Footer.vue'


export default {
  name: 'App',
  components: {
    TopBar,
    Main,
    Footer
  },
  mounted() {
  }
}
</script>





